
<section id="account" class="container">
        <div class="leftside">

        @Html.Partial("~/Views/Account/UserInfo.cshtml", ViewData["UserInfo"])
        
        </div>
        <hr class="hr"/>

        <!-- Right side -->
        <div class="containerAccount">
            <div class="headlines">
                <h2>Account Details</h2>
                <div class="basicInfo">
                <h5>Basic Info</h5>

                @if (TempData["SuccessMessageBasicInfo"] != null)
                    {
                    <span id="successMessage" class="success">
                        @TempData["SuccessMessageBasicInfo"]
                    </span>
                    }

                @if (TempData["ErrorMessageBasicInfo"] != null)
                    {
                    <span id="errorMessage" class="error">
                        @TempData["ErrorMessageBasicInfo"]
                    </span>
                    }

                </div>
            </div>

        @Html.Partial("~/Views/Account/BasicInfo.cshtml", ViewData["BasicInfo"])

            <hr>

            <div>
                <div class="basicInfo">
                <h5>Address</h5>

                    @if (TempData["SuccessMessageAddressInfo"] != null)
                    {
                        <span class="success">@TempData["SuccessMessageAddressInfo"]</span>
                    }

                    @if (TempData["ErrorMessageAddressInfo"] != null)
                    {
                        <span class="error">@TempData["ErrorMessageAddressInfo"]</span>
                    }
                </div>

            @Html.Partial("~/Views/Account/AddressInfo.cshtml", ViewData["AddressInfo"])
    
            </div>
        </div>
    </section>

@await Html.PartialAsync("_ValidationScriptPartial")